<div class="alert alert-<%= grade_type(grade) %>" role="alert">
  <b><%= formatted_grade_result(grade) %></b>
  <small><%= grade.comments %></small>
  <!-- TODO: display attached documents -->
</div>
