<div class="remets-panel__item">
  <div class="remets-panel__item__title">
    <%= submission.user.name %>
  </div>
  <div class="remets-panel__item__description">
    <small><%= l submission.created_at %></small>
  </div>
  <div class="remets-panel__item__actions">
    <!-- TODO: Display warning when similar submission found -->
    <%= link_to submission_path(id: submission.id), class: "btn btn-default btn-sm" do %>
      <i class="fa fa-eye"></i> View
    <% end %>
  </div>
</div>
