<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="rs-panel rs-panel--default">
        <div class="rs-panel__heading">
          <h3 class="rs-panel__title">Evaluations</h3>
          <%= link_to(new_evaluation_path, class: "btn btn-transparent btn-sm") do %>
            <i class="fa fa-plus"></i> New Evaluation
          <% end %>
        </div>
        <% if @evaluations.empty? %>
          <div class="rs-panel__item">
            No evaluations found! Why not create one?
          </div>
        <% end %>
        <%= render @evaluations %>
      </div>
    </div>
    <%= render partial: "shared/filters" %>
  </div>
</div>
