<div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <div class="remets-panel remets-panel--default">
        <div class="remets-panel__heading">
          <h3 class="remets-panel__title">New Evaluation Box</h3>
        </div>
        <div class="remets-panel__item">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
