<div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <div class="remets-panel remets-panel--default">
        <div class="remets-panel__heading">
          <h3 class="remets-panel__title"><%= @evaluation.title %></h3>
          <%= link_to(edit_evaluation_path(uuid: @evaluation.uuid), class: "btn btn-transparent btn-sm") do %>
            <i class="fa fa-pencil"></i> Edit
          <% end %>
        </div>
        <div class="remets-panel__item">
          <%= render partial: "evaluation_detail", object: @evaluation %>
        </div>
      </div>
    </div>
  </div>
  <% if @handover.user_id == current_user.id %>
  <div class="row">
     <div class="col-lg-offset-2 col-lg-8">
      <div class="remets-panel remets-panel--blue">
        <div class="remets-panel__heading">
          <h3 class="remets-panel__title">Students Participating</h3>
        </div>
        <div class="remets-panel__item">
          <%= render partial: "students_panel", object: @evaluation %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
