<div class="remets-panel__item">
  <div>
    <%= organization.name %>
  </div>
  <div class="remets-panel__item__actions">
    <%= link_to edit_account_organization_path(organization), class: "btn btn-default btn-sm" do %>
      <i class="fa fa-pencil"></i> Manage
    <% end %>
    <%= link_to leave_account_organization_path(organization),
      class: "btn btn-danger btn-sm", method: :delete do %>
      <i class="fa fa-eraser"></i> Leave
    <% end %>
  </div>
</div>
