<div class="container">
  <div class="row">
    <%= render partial: "account/navigation" %>
    <div class="col-lg-9">
      <div class="rs-panel rs-panel--default">
        <div class="rs-panel-heading">
          <h3>New Organization</h3>
        </div>
        <div class="rs-panel-item">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
