.stroked {
  position: relative;
  margin-bottom: 5px;
  text-align: center;
  clear: both;
  margin: 5px 0;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
  }
}

.stroked__section {
  margin: 30px 0;
}

.stroked__text {
  display: inline-block;
  position: relative;
  padding: 0 12px;
  background-color: #FFF;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
