html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 160px;
}
.footer {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 0px;
  color: #FFF;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color: $remets-primary;
  a, a:focus {
    color: #FFF;
  }
}
