<div class="container">
  <section class="row">
    <div class="col-md-12 col-lg-offset-3 col-lg-6">
      <%= image_tag("splash_page.png", class: "img-login img-responsive img-rounded",
        style: "margin:0 auto; max-width: 300px", alt: "Replace me please") %>
    </div>
    <div class="col-md-12 col-lg-offset-3 col-lg-6">
      <div class="showcase-signup-zone">
        <%= render partial: "form" %>
      </div>
    </div>
  </section>
</div>
