<div class="remets-panel__item">
  <div class="remets-panel__item__title">
    <h1><%= handover.title %></h1>
    <h2><%= handover.organization&.name %>Organization Name</h2>
    <div>
      Subscribers : 20 <i class="fa fa-user" aria-hidden="true"></i>
    </div>
  </div>
  <div class="remets-panel__item__description">
    <p class="light-text">
      Due date : <%= l handover.due_date %>
    </p>
    <p>
      <%= handover.description %>
    </p>
  </div>
  <div class="remets-panel__item__actions">
    <button class="btn btn-default btn-sm">
      <i class="fa fa-pencil"></i> Edit
    </button>
    <button class="btn btn-danger btn-sm">
      <i class="fa fa-eraser"></i> Remove
    </button>
  </div>
</div>
