<div class="remets-panel__item">
  <div class="remets-panel__item__title">
    <h1><%= handover.title %></h1>
    <h2><%= handover.organization&.name %>Organization Name</h2>
    <div>
      Subscribers : 20 <i class="fa fa-user" aria-hidden="true"></i>
    </div>
  </div>
  <div class="remets-panel__item__description">
    <p class="light-text">
      Due date : 16 Feb 2016 @ 3:12pm
    </p>
    <p>
      Cupcake ipsum dolor. Sit amet jelly beans cookie tootsie roll gingerbread chupa chups gummi bears pudding. Chocolate cotton candy pastry jelly beans cake croissant...
    </p>
  </div>
  <div class="remets-panel__item__actions">
    <button class="btn btn-default btn-sm">
      <i class="fa fa-pencil"></i> Edit
    </button>
    <button class="btn btn-danger btn-sm">
      <i class="fa fa-eraser"></i> Remove
    </button>
  </div>
</div>
