<div class="remets-panel__item">
  <div class="remets-panel__item__title">
  TITLE
  </div>
  <div class="remets-panel__item__description">
  DESCRIPTION
  </div>
  <div class="remets-panel__item__actions">
    <%= link_to submission_path(id: submission.id), class: "btn btn-default btn-sm" do %>
      <i class="fa fa-eye"></i> View
    <% end %>
  </div>
</div>
