<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="remets-panel remets-panel--default">
        <div class="remets-panel__heading">
          <h3 class="remets-panel__title">Handovers</h3>
          <%= link_to(new_handover_path, class: "btn btn-transparent btn-sm") do %>
            <i class="fa fa-plus"></i> New Handover
          <% end %>
        </div>
        <% if @handovers.empty? %>
          <div class="remets-panel__item">
            No handovers found! Why not create one?
          </div>
        <% end %>
        <%= render @handovers %>
      </div>
    </div>

    <%= render partial: "shared/filters" %>
  </div>
</div>
