<div class="container">
  <div class="row">
    <!-- main panel -->
    <div class="col-lg-9">
      <div class="remets-panel remets-panel--default">
        <div class="remets-panel__heading">
          <h3 class="remets-panel__title">Handovers</h3>
          <%= link_to(new_handover_path, class: "btn btn-transparent btn-sm") do %>
            <i class="fa fa-plus"></i> New Handover
          <% end %>
        </div>
        <div class="remets-panel__item">
          <div class="remets-panel__item__title">
            <h1>Project Title</h1>
            <h2>Organization Name</h2>
            <div>
              Subscribers : 20 <i class="fa fa-user" aria-hidden="true"></i>
            </div>
          </div>
          <div class="remets-panel__item__description">
            <p class="light-text">
              Due date : 16 Feb 2016 @ 3:12pm
            </p>
            <p>
              Cupcake ipsum dolor. Sit amet jelly beans cookie tootsie roll gingerbread chupa chups gummi bears pudding. Chocolate cotton candy pastry jelly beans cake croissant...
            </p>
          </div>
          <div class="remets-panel__item__actions">
            <button class="btn btn-default btn-sm">
              <i class="fa fa-pencil"></i> Edit
            </button>
            <button class="btn btn-danger btn-sm">
              <i class="fa fa-eraser"></i> Remove
            </button>
          </div>
        </div>
        <div class="remets-panel__item">
          <div class="remets-panel__item__title">
            <h1>Project Title</h1>
            <h2>Organization Name</h2>
            <div>
              Subscribers : 20 <i class="fa fa-user" aria-hidden="true"></i>
            </div>
          </div>
          <div class="remets-panel__item__description">
            <p class="light-text">
              Due date : 16 Feb 2016 @ 3:12pm
            </p>
            <p>
              Cupcake ipsum dolor. Sit amet jelly beans cookie tootsie roll gingerbread chupa chups gummi bears pudding. Chocolate cotton candy pastry jelly beans cake croissant...
            </p>
          </div>
          <div class="remets-panel__item__actions">
            <button class="btn btn-default btn-sm">
              <i class="fa fa-pencil"></i> Edit
            </button>
            <button class="btn btn-danger btn-sm">
              <i class="fa fa-eraser"></i> Remove
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- actions -->
    <div class="col-lg-3">
      <div class="remets-panel remets-panel--red">
        <div class="remets-panel__heading">
          <h3 class="remets-panel__title">Actions</h3>
        </div>
        <div class="remets-panel__item">
          <div class="dropdown">
            <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-filter"></i>
              Filter By
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><a href="#">Action</a></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Action</a></li>
            </ul>
          </div>
        </div>
        <div class="remets-panel__item">
          <div class="dropdown">
            <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-sort"></i>
              Sort By
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><a href="#">Action</a></li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Action</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
