<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="rs-panel rs-panel--default">
        <div class="rs-panel__heading">
          <h3 class="rs-panel__title">Registration</h3>
        </div>
        <div class="rs-panel__item">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
