<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Remets</h6></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">API</a></li>
          <li><%= link_to "Sign in", auth_new_path %></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Project</h6></li>
          <li><a href="https://github.com/maximebedard/remets" target="_blank">GitHub</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h6 class="text-uppercase">About</h6>
        <p>
          Remets - Handing over documents, made simple. — © 2016.<br>
          by <a href="https://github.com/maximebedard" target="_blank">Maxime Bedard</a> and
          <a href="https://github.com/xdrdak" target="_blank">Xavier Drdak</a>
          <br><br>
          Released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.
          <br><br>
        </p>
      </div>
    </div>
  </div>
</footer>
