<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Product</h6></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Support</h6></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Integrations</a></li>
          <li><a href="#">Tutorials</a></li>
          <li><a href="#">Uptime & Status</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Connect</h6></li>
          <li>
            <a href="https://github.com/maximebedard/remets">
              <i class="fa fa-github" aria-hidden="true"></i> GitHub
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h6 class="text-uppercase">About</h6>
        <p>
          © 2016 Remets - Protecting your intellectual property.<br>
          by <a href="https://github.com/maximebedard" target="_blank">Maxime Bedard</a> and
          <a href="https://github.com/xdrdak" target="_blank">Xavier Drdak</a>
          <br><br>
          Released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.
          <br><br>
        </p>
      </div>
    </div>
  </div>
</footer>
