<div class="container showcase-image">
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag("splash_page.png", class: "img-responsive img-rounded",
        style: "margin:0 auto; max-width: 500px", alt: "Replace me please") %>
    </div>
  </div>
</div>
<div class="container">
  <!-- Blurbl + Login -->
  <section class="row">
    <div class="col-lg-6">
      <h1>Smartastic Document handing!</h1>
      <h3>Easily create assignments, automagically detect plagiarism and much more!</h3>
    </div>
    <div class="col-lg-6">
      <div class="showcase-signup-zone">
        <%= render partial: "form" %>
        <div class="line-behind-text"><span class="line-behind-text__text">or</span></div>
        <%= link_to 'Sign-up with Google!', auth_authorize_path(:google),
          class: "btn btn-large btn-success form-control" %>
      </div>
    </div>
  </section>
  <!-- Featurettes! -->
  <div class="line-behind-text line-behind-section"><span class="line-behind-text__text">Features</span></div>
  <section class="row">
    <div class="col-lg-6">
      <h1>Feature 1</h1>
        <p>
          Jujubes cake pastry oat cake liquorice. Marzipan toffee apple pie donut pudding. Oat cake apple pie sweet bonbon. Cookie sesame snaps dragée pie candy fruitcake jelly topping. Tiramisu macaroon candy canes biscuit. Chocolate cake dragée bonbon. Jelly-o bear claw wafer marshmallow carrot cake sugar plum donut carrot cake. Dessert sweet roll wafer soufflé cotton candy. Lemon drops pudding marzipan macaroon. Muffin gummies fruitcake ice cream cotton candy cheesecake halvah wafer wafer. Cotton candy powder lollipop jujubes sweet. Brownie cake lollipop. Croissant pudding tiramisu.
        </p>
    </div>
    <div class="col-lg-6">
      <!-- INSERT IMAGE HERE -->
    </div>
  </section>
  <section class="row">
    <div class="col-lg-6">
      <!-- INSERT IMAGE HERE -->
    </div>
    <div class="col-lg-6">
      <h1>Feature 2</h1>
        <p>
          Jujubes cake pastry oat cake liquorice. Marzipan toffee apple pie donut pudding. Oat cake apple pie sweet bonbon. Cookie sesame snaps dragée pie candy fruitcake jelly topping. Tiramisu macaroon candy canes biscuit. Chocolate cake dragée bonbon. Jelly-o bear claw wafer marshmallow carrot cake sugar plum donut carrot cake. Dessert sweet roll wafer soufflé cotton candy. Lemon drops pudding marzipan macaroon. Muffin gummies fruitcake ice cream cotton candy cheesecake halvah wafer wafer. Cotton candy powder lollipop jujubes sweet. Brownie cake lollipop. Croissant pudding tiramisu.
        </p>
    </div>
  </section>
  <section class="row">
    <div class="col-lg-6">
      <h1>Feature 3</h1>
        <p>
          Jujubes cake pastry oat cake liquorice. Marzipan toffee apple pie donut pudding. Oat cake apple pie sweet bonbon. Cookie sesame snaps dragée pie candy fruitcake jelly topping. Tiramisu macaroon candy canes biscuit. Chocolate cake dragée bonbon. Jelly-o bear claw wafer marshmallow carrot cake sugar plum donut carrot cake. Dessert sweet roll wafer soufflé cotton candy. Lemon drops pudding marzipan macaroon. Muffin gummies fruitcake ice cream cotton candy cheesecake halvah wafer wafer. Cotton candy powder lollipop jujubes sweet. Brownie cake lollipop. Croissant pudding tiramisu.
        </p>
    </div>
    <div class="col-lg-6">
      <!-- INSERT IMAGE HERE -->
    </div>
  </section>
</div>
