html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 160px;
}

.footer {
  position: absolute;
  padding-top: 15px;
  padding-bottom: 0px;
  color: rgba($rs-primary-text-light, 0.8);
  font-weight: 300;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color: $rs-darkgrey;

  .container {
    background-color: $rs-darkgrey;
  }
  h6 {
    color: $rs-primary-text-light;
    font-weight: 600;
  }
  a, a:focus, a:link {
    color: rgba($rs-primary-text-light, 0.8);
    font-weight: 300;
  }
  a:hover {
    color: $rs-secondary;
    text-decoration: none;
  }
}
