<h1>Document</h1>

<b>Filename : <%= @document.file_original_name %></b>&nbsp;<%= link_to "Download", download_document_path(@document) %><br />

<h2>Relevant documents</h2>

<ul>
  <% DocumentMatch.relevant_matches(@document).each do |document_match| %>
    <li><%= link_to "#{document_match.compared_document.file_original_name} (#{document_match.similarity})", download_document_path(document_match.compared_document) %></li>
  <% end %>
</ul>
