<div class="rs-panel--item">
  <div class="rs-panel--item--content">
    <i class="fa fa-file"></i> <%= document.file_original_name %>
  </div>
  <div class="rs-panel--item--actions">
    <%= link_to(document_download_path(document.file_ptr), class: "btn btn-default btn-sm") do %>
      <i class="fa fa-download"></i> Download
    <% end %>
    <%= link_to(submitted_document_path(document), class: "btn btn-default btn-sm") do %>
      <i class="fa fa-eye"></i> View
    <% end %>
  </div>
</div>
