<div class="remets-panel__item">
  <div>
    <% unless submission.user == current_user %>
      <div>
        <h3 class="no-margin">
          <strong>Author : </strong>
          <%= submission.user.name %>
        </h3>

      </div>
    <% end %>
    <div>
      <strong>Date submitted : </strong>
      <%= l submission.created_at %>
    </div>
  </div>

  <% if submission.grade.present? %>
    <%= render submission.grade %>
  <% end %>
</div>

<%= render partial: "document", collection: submission.documents %>
