<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="remets-panel remets-panel--default">
        <div class="remets-panel__heading">
          <h3 class="remets-panel__title">Submissions</h3>
        </div>
        <% if @submissions.empty? %>
          <div class="remets-panel__item">
            No Submissions found!
          </div>
        <% end %>
        <% @submissions.group_by(&:handover).each do |handover, submissions| %>
          <%= render partial: "handover", object: handover %>
          <%= render submissions %>
        <% end %>
      </div>
    </div>
    <%= render partial: "shared/filters" %>
  </div>
</div>
