<div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <%= render partial: "submission_panel", object: @submission, as: :submission,
        locals: { title: "Submission" } %>
    </div>
  </div>

  <% if @submission.handover.user_id == current_user.id %>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <div class="remets-panel remets-panel--blue">
        <div class="remets-panel__heading">
          <h3 class="remets-panel__title">Similar submissions</h3>
        </div>
        <%= render partial: "submission", collection: Submission.similar_to(@submission), locals: { current_submission: @submission } %>
      </div>
    </div>
  </div>
  <% end %>
</div>
