<div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <%= render partial: "submission_panel", object: @submission, as: :submission,
        locals: { title: "Submission" } %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <div class="remets-panel remets-panel--default">
        <div class="remets-panel__heading">
          <h3 class="remets-panel__title">Similar submissions</h3>
        </div>
        <div class="remets-panel__item">
          Display similar submissions here.
        </div>
      </div>
    </div>
  </div>
</div>
