<div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <%= render partial: "submission_panel", object: @submission, as: :submission,
        locals: { title: "Submission Details" } %>
    </div>
  </div>
  <% if @submission.evaluation.user_id == current_user.id %>
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8">
        <div class="rs-panel rs-panel--red">
          <div class="rs-panel__heading">
            <h3 class="rs-panel__title">Possible Match Detected</h3>
          </div>
          <%= render partial: "submission", collection: Submission.similar_to(@submission), locals: { current_submission: @submission } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
