<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="remets-panel remets-panel--default">
        <div class="remets-panel__heading">
          <h3 class="remets-panel__title">Upcoming handovers</h3>
        </div>
        <%= render partial: "handover",
          collection: current_user.subscribed_handovers.upcoming.latest_deadlines_first %>
      </div>
    </div>
  </div>
</div>
