@mixin inverting-button-variant($color, $background) {
  @include button-variant($color, $background, $color);

  &:hover {
    color: $background;
    background-color: $color;
    border-color: $background;
  }
}
