<div class="remets-panel__item">
  <div>
    <%= authorization.provider.capitalize %>
  </div>
  <div class="remets-panel__item__actions">
    <%= link_to auth_authorize_path(authorization.provider), class: "btn btn-danger btn-sm" do %>
      <i class="fa fa-times"></i> Revoke
    <% end %>
  </div>
</div>
