<% Authorization.available_providers.each do |provider| %>
  <div class="rs-panel--item">
    <div class="rs-panel--item--title">
      <i class="fa fa-<%= provider %>"></i>&nbsp;<%= provider.capitalize %>
    </div>
    <div class="rs-panel--item--description">

    </div>
    <div class="rs-panel--item--actions">
      <%= link_to auth_authorize_path(provider), class: "btn btn-success" do %>
        <i class="fa fa-sign-in"></i> Authorize
      <% end %>
    </div>
  </div>
<% end %>
