<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="remets-panel remets-panel--default">
        <div class="remets-panel__heading">
          <h3 class="remets-panel__title">Integrations</h3>
          <%= link_to(new_account_integration_path, class: "btn btn-transparent btn-sm") do %>
            <i class="fa fa-plus"></i> New integration
          <% end %>
        </div>
        <%= render partial: "authorization", collection: current_user.authorizations %>
      </div>
    </div>
    <%= render partial: "account/navigation" %>
  </div>
</div>
