<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="remets-panel remets-panel--default">
        <div class="remets-panel__heading">
          <h3 class="remets-panel__title">New Integration</h3>
        </div>
        <%= render partial: "form" %>
      </div>
    </div>
    <%= render partial: "account/navigation" %>
  </div>
</div>
