<div class="container" style="margin-top:90px">
  <div class="row">
    <div class="col-lg-6">
      <h1>Handovers</h1>
    </div>
    <div class="col-lg-6 text-right">
      <h1>
        <button type="button" class="btn btn-default">
          <span class="fa fa-plus" aria-hidden="true"></span> Create Handover
        </button>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <!-- Todo: Actually make this table dynamic.-->
      <table class="table remets-table">
        <thead>
          <th>Assigment Name</th>
          <th>Organization</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Handover Rate</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">LOG645</a></td>
            <td>School for the truests gangstas</td>
            <td>#Jujubes cake pastry oat cake liquorice.</td>
            <td>16th January 2015 <strong>@</strong> 4:30pm</td>
            <td>14/20 <span class="fa fa-user" aria-hidden="true"></span></td>
            <td class="text-right">
              <button type="button" class="btn btn-default">
                <span class="fa fa-pencil" aria-hidden="true"></span> Edit
              </button>
              <div class="dropdown" style="display: inline-block">
                <button class="btn btn-default dropdown-toggle" type="button"
                  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#"><span class="fa fa-eraser"></span>Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td><a href="#">LOG645</a></td>
            <td>School for the truests gangstas</td>
            <td>#Jujubes cake pastry oat cake liquorice.</td>
            <td>16th January 2015 <strong>@</strong> 4:30pm</td>
            <td>14/20 <span class="fa fa-user" aria-hidden="true"></span></td>
            <td class="text-right">
              <button type="button" class="btn btn-default">
                <span class="fa fa-pencil" aria-hidden="true"></span> Edit
              </button>
              <div class="dropdown" style="display: inline-block">
                <button class="btn btn-default dropdown-toggle" type="button"
                  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#"><span class="fa fa-eraser"></span>Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
