.remets-panel {
  background-color: #FFF;
  box-shadow: 1px 3px 10px rgba(193, 193, 193, 0.65);
  margin: 10px 0;
}

.remets-panel__heading {
  border: none;
  padding: 10px 14px;
  @include flex();
  justify-content: space-between;
  align-items: center;
}

.remets-panel__title {
  margin: 0;
  padding: 7px 0px 7px 0px;
}

.remets-panel__title--underline {
  text-decoration: underline;
}
.remets-panel__item.remets-panel__item--no-border {
  border: none;
}
.remets-panel__item.remets-panel__item--bg-blue {
  background-color: #337ab7;
  color: white;
}
.remets-panel__item.remets-panel__item--bg-orange {
  background-color: #EF6C00;
  color: white;
}
.remets-panel__item {
  border: 1px solid #E8E8E8;
  border-top: 0;
  padding: 16px 14px;
  flex-direction: column;
  @media (min-width: 992px) {
    flex-direction: row;
  }
  @include flex();
  .compare-wrapper {
    flex-flow: row wrap;
    display: flex;
    code {
      width: 49%;
      margin: 0 auto;
      color: #2E3E4F;
      background-color: #F3F3F3;
      mark {
        background-color: #F5D324
      }
    }
  }
}

.remets-panel__item--group {
  border: 1px solid #E8E8E8;
  border-top: 0;
  padding: 16px 14px;
  @include flex();
  align-items: center;

  i.fa {
    font-size: 2em;
  }
}

.remets-panel__item__2-col-info {
  text-align: center;
  width: 100%;

  h1, h5 {
    margin: 5px 0;
  }
}
.remets-panel__item__title {
  width: 100%;
  @media (min-width: 992px) {
    width: 25%;
  }
  h1, h2 {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 2.8rem
  }
  h2 {
    font-size: 1.6rem;
    color: lighten($remets-primary-text, 25%);
    padding: 7px 0 ;
  }
}
.remets-panel__item__description {
  width: 100%;
  @media (min-width: 992px) {
    width: 50%;
  }
}

.remets-panel__item__long-description {
  width: 100%;
  @media (min-width: 992px) {
    width: 75%;
  }
}
.remets-panel__item__content {
  width: 100%;
  @media (min-width: 992px) {
    width: 75%;
  }
}
.remets-panel__hidden {
  display: none;
}

.remets-panel__item__actions {
  width: 100%;
  justify-content: center;
  @media (min-width: 992px) {
    width: 25%;
    justify-content: flex-end;
  }
  align-items: center;
  @include flex();
  & > .btn {
    margin: 0 5px;
  }
}


.remets-panel.remets-panel--default {
  .remets-panel__heading {
    color: #FFF;
    background-color: #64BFA6;
  }
}

.remets-panel.remets-panel--blue {
  .remets-panel__heading {
    color: #FFF;
    background-color: #337ab7;
  }
}

.remets-panel.remets-panel--orange {
  .remets-panel__heading {
    color: #FFF;
    background-color: #EF6C00;
  }
}


.remets-panel.remets-panel--red {
  .remets-panel__heading {
    color: #FFF;
    background-color: #e74c3c;
    a {
    color: #FFF;
    text-decoration: underline;
    }
    a:hover {
      color: darken(#FFF, 10%);
    }
  }
}
