@mixin flex() {
  display: flex;
  -webkit-display: flex;
}

.white-bg {
  background-color: #FFF;
}
.no-margin {
  margin: 0;
}

.light-text {
  color: lighten($remets-primary-text, 50%);
}

.full-width {
  width: 100%;
}

.flex-horizontal-center {
  @media (min-width: 992px) {
    display: flex;
    align-items: center;
  }
}

.monospaced {
  font-family: $remets-code-font-family;
}

.highlight {
  color: #000;
}
