@import "variables";

.navbar-fixed-top ~ .container {
  margin-top: 70px;
}

.rs-navbar {
  background-color: $rs-navbar-bg;
  border-color: $rs-navbar-border;

  .navbar-brand {
    color: $rs-navbar-brand-color;
    font-family: $headings-font-family;
    font-weight: 700;
    &:hover,
    &:focus {
      color: $rs-navbar-brand-hover-color;
      background-color: $rs-navbar-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $rs-navbar-color;
  }

  .navbar-nav {
    > li > a {
      color: $rs-navbar-link-color;
      font-weight: 300;
      &:hover,
      &:focus {
        color: $rs-navbar-link-hover-color;
        background-color: $rs-navbar-link-hover-bg;
        transition: all 0.2s ease-in-out 0s;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        @media (min-width: 767px) {
          box-shadow: 0px $rs-navbar-active-underline-size 0px $rs-navbar-active-underline-color inset;
        }
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $rs-navbar-link-disabled-color;
        background-color: $rs-navbar-link-disabled-bg;
      }
    }
  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: $rs-navbar-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $rs-navbar-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $rs-navbar-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: darken($rs-navbar-bg, 7%);
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $rs-navbar-link-active-bg;
        color: $rs-navbar-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: $rs-navbar-border;
        }
        .divider {
          background-color: $rs-navbar-border;
        }
        > li > a {
          color: $rs-navbar-link-color;
          &:hover,
          &:focus {
            color: $rs-navbar-link-hover-color;
            background-color: $rs-navbar-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $rs-navbar-link-active-color;
            background-color: $rs-navbar-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $rs-navbar-link-disabled-color;
            background-color: $rs-navbar-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: $rs-navbar-link-color;
    &:hover {
      color: $rs-navbar-link-hover-color;
    }
  }

  .btn-link {
    color: $rs-navbar-link-color;
    &:hover,
    &:focus {
      color: $rs-navbar-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $rs-navbar-link-disabled-color;
      }
    }
  }
}
