<ul class="list-unstyled list-spaced">
  <% Authorization.authorizations_by_provider(current_user).each do |provider, auth| %>
    <li>
      <%= provider.capitalize %>
      <% if auth.present? %>
        <%= link_to auth_authorize_path(provider), class: "btn btn-success disabled" do %>
          <i class="fa fa-check"></i> Authorized
        <% end %>
      <% else %>
        <%= link_to auth_authorize_path(provider), class: "btn btn-default" do %>
          <i class="fa fa-times"></i> Authorize
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
